body {
    background: #111111;
    color: #000000;
    margin-top: 5rem;
  }
  
  .wht {
    color: #ffffff;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #000000;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #f6f6f6;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #000000;
    padding: 10px 20px;
    border: 1px solid #585858;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #fbfbfb;
  }
  
  a.article-title:hover {
    color: #255abb;
    text-decoration: none;
  }
  
  .article-content {
    color: #ffffff;
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  .formbg{
    background-color: #000000;
    color: rgb(255, 255, 255);
  }

  .form-group{
    background-color: #000000;
    color: rgb(255, 255, 255);
  }

  .blktext{
    color: rgb(0, 0, 0);
  }

  .bglist{
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
  }

  .nav-item{
    display: inline-flex;
  }

  #yay {
    position:relative;
    margin:auto;
    width:auto;
    text-align:center;
}