{% extends 'main/base.html' %}
{%block content%}
    {% for post in posts %}
        <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_modified|date:"P d F, o" }}</small>
            </div>
            <h2><a class="article-title" href="{{post.content}}">{{ post.title }}</a></h2>
            <p class="wht">{{post.score|floatformat:"2" }}</p>
            {% if "-0" in post.score%}
                <p class="wht">dei</p>

            {% else%}
                <p class="wht">dei deid dei</p>

            {% if "0.00" in post.score%}
                <p class="wht">dei dei</p>
            {% endif %}
        </div>
        </article>
    {% endfor %}
{% endblock content%}
