{% extends 'main/base.html' %}
{%block content%}
    {% for post in posts %}
        <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_modified|date:"P d F, o" }}</small>
            </div>
            <h2><a class="article-title" href="{{post.content}}">{{ post.title }}</a></h2>
            <p class="wht">{{post.score}}</p>
        </div>
        </article>
    {% endfor %}
{% endblock content%}
